/* start header */
  body, html {
    height:100%; /* ADD this */
        overflow: hidden;
}

.wrapper {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -42px; /* the bottom margin is the negative value of the footer's height */
      background-color: #fff;
      position: relative;
}
header {
    position: relative;
	width: 100%;
    height: 100%;
}

nav ul {
	float: right;
}
nav li {
     margin-right: 20px;
    vertical-align: middle;
	display: inline-block;
}
nav li a {
	color: #4F4F4F;
	text-decoration: none;
   
}
nav li a:hover {
	text-decoration: underline;
}

nav li:nth-child(3){
	background: url('v1_76783e20.png') no-repeat -42px -318px;
	width: 16px;
	height: 16px;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    opacity: .55;
}
    nav li:nth-child(3):hover{
        opacity: 1;
    }
    nav li:nth-child(4) {
        background: url('notification.png') no-repeat;
        background-size: 12px;
        background-position: center;
        padding: 4px;
        width: 16px;
        height: 16px;
        background-color: #4F4F4F;
        border-radius: 100%;
        text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
        opacity: .55;
    }
    nav li:nth-child(4):hover{
        opacity: 1;
    }

    nav li:nth-child(5) {
        background-image: url('13450761_1125409847480334_459936723686205549_n.jpg');
        height: 35px;
        width: 35px;
        background-repeat: no-repeat;
         white-space: nowrap;
        background-size: cover;
        border-radius: 100%;
        text-indent: 100%;
         white-space: nowrap;
         overflow: hidden;
    }
    
 /* == end head == */

 /* == start main == */



.main #logo {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 190px;
    left: 160px;
    background: url('googlelogo_color_272x92dp.png') no-repeat;
    background-size: cover;
    width: 272px;
    height: 92px;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    
}
#ph {
     position: relative;
    display: block;
    margin: 0 auto;
    top: 171px;
    left: 280px;
    width: 400px;
    color: #4285F4;
}
#search {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 200px;
    width: 555px;
    padding: 10px 25px 10px 5px;
}
#voice {
    position: relative;
    margin: 0 auto;
    top: 165px;
    display: block;
    background-image: url('wx2o5osAAAAAElFTkSuQmCC.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    left: 275px;
}
.glinks ul {
    position: relative;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    top: 200px;
    padding-left: 0;
}
.glinks li {
    margin: 0 auto;
    display: inline-block;
    margin-right: 15px;
    background-color: #F2F2F2;
    padding: 10px 15px;
     box-sizing: border-box; 
     border:solid 0.5px #F2F2F2;
    text-decoration: none;
}
.glinks li:last-child {
    margin-right: 0;
}
.glinks li:hover {
    box-sizing: border-box;
    border:solid 0.5px gray;
   
}
.glinks a {
    text-decoration: none;
    color:  #4F4F4F;
}
.glinks a:hover {
  color: black;   
}

.lcontainer {
    position: relative;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.language {
    margin-top: 45%;
}
    .language a {
        color: #4285F4;
        text-decoration: none;
    }
    .language a:hover {
    text-decoration: underline;
}
  

#footer {
      bottom: 0px;
      background-color: #F4F4F4;
      position: absolute;
      width: 100%;
      text-align: right;              
}

#footer, .push {
    height: 60px;
}
.push ul:first-of-type {
    float: left;
}
.push ul:nth-of-type(2) {
    margin-right: 20px;
    float: right;
}
.push li {
    margin-right: 20px;
    display: inline-block;
}
.push li a {
    color: gray;
    text-decoration: none;
}
.push li a:hover {
    text-decoration: underline;
}

.push li:last-child {
    margin-right: 0;
}